body,ul{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

nav{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    
}

h1{
    color: #FFF0CC;
    font-size: 80px;
    font-family: 'Fira Sans', sans-serif;
}

h2{
    color: #FFF0CC;
    font-size: 40px;
    margin: 40px
}

h3{
    color: #FFF0CC;
    color: darkblue;
    font-size: 20px;
}

.hero-text{
    height:65vh;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
}

.hero-img{
     
}

header{
    background-image: url('../images/fond_bureau.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 58px;
}

main{
    margin-top: -50px
}

main>section{
    padding: 50px 200px;
}
#presentation{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

#presentation section{
    border: 1px solid rgba(0,0,0,.125);
    width: 30%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0,0,0,.125);
    background-color: #ffffff;
    text-align: center;
}

#presentation p{
    text-align: justify;
}

#presentation span{
    color: red;
}

#contact h2{
    text-align: center;
}

.impair{
    background-color: #e3e3e3;
}

#qualite img{
    
    width: 20%;
    height: auto;
    object-fit: contain;
}

#qualite{
    display: flex;
}

#qualite div{
    border: 1px solid rgba(0,0,0,.125);
    padding: 15px;
    align-self: center;
    margin-left: -50px;
    box-shadow: 0 10px 10px rgba(0,0,0,.125);
    background-color: #ffffff;
}
/*
.gallery{
    display: flex;
    flex-wrap: wrap
}

.gallery div{
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
}

.gallery img{
    width:100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box; /* de bordure à bordure 25% incluant le padding de 5px
    border:1px solid #dee2a6;    
}*/

#experiences div{
    text-indent: 1%;
}

#contact-div{
    display: flex;
}

#contact-div iframe{
    width: 50%;
    height: 40Opx;
    border: 0px;
}

#contact-div address{
    color: rgb(0, 0, 100);
}

#contact-div a{
    color: rgb(0, 0, 250);
}
.emel{
    text-decoration: underline;
}

address{
    text-align: center;
    width: 50%;
    align-self: center;
}
footer{
    background-color: #868686;
    padding: 50px 0;
    text-align: center;
}

footer p{
    color : orange
}

footer a{
    display: inline;
    font-size: large;
    padding: 0px;
    color: blue;
}

@media(max-width: 1200px){
    main > section{
        padding: 50px 125px
    }

    .qualite img{
        width: 33.333333%
    }

    #qualite div{
        border: 1px solid rgba(0,0,0,.125);
        padding: 15px;
        align-self: center;
        margin-left: -50px;
    }
    
}

@media(max-width: 992px){
    main > section{
        padding:50px 90px;
    }

    .qualite img{
        width: 25%

    }
    
    #qualite div{
        padding: 10px;
        align-self: center;
        margin-left: -25px;
    }
}

@media(max-width: 768px){
    main > section{
        padding:50px 30px;
    }

    .qualite img{
        width: 10%
    }

    #qualite div{
        padding: 5px;
        align-self: center;
        margin-left: -10px;
    }

    ul{
        padding: 0;
    }
}




